
/*
    CSS Combinators:
    elemento_nome(p).classe{aplique em elemento_nomes que tiverem .classe}
    elemento_pai(div) elemento_filho(p){aplique em todos os elementos_filho(p) que são filhos do elemento_pai(div)}
    elemento_pai(div)>elemento_filho(p){aplique em todos os elentos filhos desse pai que sejam p}
    elemento_sup(div)+elemento_inf(p){aplique no elemento inferior ao div que seja o p, caso não seja p, não aplique em ninguem}
    elemento_sup(div)~elemento_inf(p){aplique abaixo de div todos que são irmaos do tipo p}
    */

.cores-titulo{
    background-color: wheat;
    color: black;
}

p.cores-opcoes:nth-of-type(1){
    background-color: rgb(53, 86, 231);
}
p.cores-opcoes:nth-of-type(2){
    background-color: rgba(53, 86, 231, 0.522);
}
p.cores-opcoes:nth-of-type(3){
    background-color: #03e70e;
}
p.cores-opcoes:nth-of-type(4){
    background-color: #03e70e5b;
}
p.cores-opcoes:nth-of-type(5){
    background-color: hsl(189, 97%, 46%);
}
p.cores-opcoes:nth-of-type(6){
    background-color: hsl(189, 97%, 46%, 0.300);
}

.backgrounds{
    padding: 10px;
}
.backgrounds:nth-of-type(1){
    background-color: rgba(11, 66, 91, 0.589);
}
.backgrounds:nth-of-type(2){
    background-color: rgb(69, 34, 192);
    background-image: url("https://st2.depositphotos.com/6544740/9337/i/600/depositphotos_93376372-stock-photo-sunset-over-sea-pier.jpg");
    height: 500px;
    /*background-repeat: repeat-x repeat-y; /*repito em x e y*/
    background-repeat: no-repeat;/*não aceito que se repita*/
    background-position: center top; /*posicione no centro no topo*/
}
.backgrounds:nth-of-type(3){
    background-color: rgb(34, 187, 192);
    background-image: url("https://st2.depositphotos.com/6544740/9337/i/600/depositphotos_93376372-stock-photo-sunset-over-sea-pier.jpg");
    height: 500px;
    /*background-repeat: repeat-x repeat-y; /*repito em x e y*/
    background-repeat: no-repeat;/*não aceito que se repita*/
    background-position: center top; /*posicione no centro no topo*/
    /**background-attachment: fixed; /*ficarei fixo de acordo com a janela*/
    background-attachment: scroll;/*subirei conforme o scroll*/
}
.backgrounds:nth-of-type(4){
    background: red url("https://st2.depositphotos.com/6544740/9337/i/600/depositphotos_93376372-stock-photo-sunset-over-sea-pier.jpg") no-repeat scroll center top;
    /*sequencia
        background-color
        background-image
        background-repeat
        background-attachment
        background-position
    */
}
.backgrounds:nth-of-type(5){
    
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center right;
    background-size: cover, contain;
    background-image: url("../assets/18-CONTACTUS-HEADER.jpg"), url('../assets/220px-Squidward_Tentacles.svg.png');
    background-blend-mode: saturation;
    /*opçoes
    normal,
    multiply
    screen
    overlay
    darken
    lighten
    color-dodge
    saturation
    color
    luminosity
    */
}
.backgrounds:nth-of-type(6){
    background-color: #079cff;
    border: 10px dotted white;
    background-clip: content-box;
    /*propriedade:
        border-box
        padding-box
        content-box
        initial
        inherit
    */
}
/*borders*/
.borders h1{
    margin: 15px 0;
}
.borders h1:nth-of-type(1){
    background: rgb(153, 139, 139);
    border: 1px solid rgb(108, 211, 113);
}

.borders h1:nth-of-type(2){
    background: rgb(153, 139, 139);
    border-bottom: 6px solid rgb(5, 9, 255);
}
.borders h1:nth-of-type(3){
    background: rgb(153, 139, 139);
    border-radius: 8px;
    border-bottom: 1px solid rgb(26, 2, 26);
}
.borders h1:nth-of-type(4){
    background: rgb(153, 139, 139);
    border-left: 6px solid rgb(5, 9, 255);
}
.borders h1:nth-of-type(5){
    background: rgb(153, 139, 139);
    border-right: 6px solid rgb(5, 9, 255);
}
.borders h1:nth-of-type(6){
    background: rgb(153, 139, 139);
    border-top: 6px solid rgb(5, 9, 255);
}
.borders h1:nth-of-type(7){
    background: rgb(153, 139, 139);

    border-bottom-width: 20px;
    border-bottom-style: solid;
    border-bottom-color: #ffc107;

    border-top-width: 20px;
    border-top-style: solid;
    border-top-color:rgb(53, 86, 231);
}
.borders h1:nth-of-type(8){
    background: rgb(153, 139, 139);
    border-width: 20px;
    border-style: solid;
    border-color: #079cff;
}
.borders h1:nth-of-type(9){
    background: rgb(153, 139, 139);

    border-right-width: 20px;
    border-right-style: solid;
    border-right-color: #079cff;

    border-left-width: 20px;
    border-left-style: solid;
    border-left-color: #ffc107;
}
.borders h1:nth-of-type(10){
    background: rgb(153, 139, 139);
    
    border-right: 10px solid black;

    border-left: 10px solid pink;
}

.borders h1:nth-of-type(11){
    background: rgb(153, 139, 139);
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 5px;
}
.borders h1:nth-of-type(12){
    background: rgb(139, 153, 149);
    padding: 10px;
    border: 10px solid transparent;
    
    border-image-source: url('https://www.w3schools.com/cssref/border.png');
    border-image-repeat: round;/*define o estilo da borda imagem*/
    border-image-slice: 30; /*define o tanto de vezes que sera renderizado*/
    /*border-image: url('https://www.w3schools.com/cssref/border.png') 30 round;/*stretch*/
    border-image-width: 10px; /*define o tamnho da imagem*/
    border-image-outset: 20px; /*ele renderiza alem da borda*/
}
.borders div:nth-of-type(1){
    margin-top: 40px;
    background: rgb(139, 153, 149);
}
.borders div:nth-of-type(1)>table{
    /*border-collapse: separate;/*padrão html*/
    border-collapse: collapse;
    border: 1px solid white;
}