.marging{
    background-color: royalblue;
    max-width: 400px;
    height: auto;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    
}
.border{
    background-color: #151515;
    width: 400px;
    height: 200px;
    margin: 50px;
}
.padding{
    background-color: wheat;
    height: 90%;
    border: 20px solid white;
}
.content{
    background-color: purple;
    height: 80%;
    padding: 30px;
}
/*outline*/

.outline h1:nth-of-type(1){
    background-color: #ffc107;
    border-width: 1px;
    border-style: solid;
    border-color: #151515;
    padding: 5px;
    /* outline: 4px solid rgb(64, 20, 223); */
    outline-style: solid;
    outline-width: 4px;
    outline-color:  rgb(64, 20, 223);
    outline-offset: 10px; /*afastamento da borda*/
}

.text h1{
    margin: 5px;
}
.text h1:nth-of-type(1){
    background-color: #151515;
    color: #ffc107;
}

.text h1:nth-of-type(2){
    background-color: #073db1;
    color: #ffc107;
    text-align: center;
}
.text h1:nth-of-type(3){
    background-color: #151515;
    color: #ffc107;
    text-align: left;
}
.text h1:nth-of-type(4){
    background-color: #073db1;
    color: #ffc107;
    text-align: right;
}
.text h1:nth-of-type(5){
    background-color: #151515;
    color: #ffc107;
    text-align: justify; /*justifica o texto, não deixando espaços em branco*/
}
.text h1:nth-of-type(6){
    background-color: #073db1;
    color: #ffc107;
    direction: rtl;
    unicode-bidi: bidi-override; /*inverte palavras*/
}
.text p:nth-of-type(1)> img{
    max-width: 200px;
    vertical-align: bottom;
    
    /*propriedades:
        bottom,
        middle,
        top
    ;*/
}
.text p:nth-of-type(1){
    background-color: #151515;
    color: #ffc107;
    height: 200px;
}

.text-decoration h1:nth-of-type(1){
    text-decoration: underline;
    text-decoration-color: #ffc107;
    text-decoration-style: dashed;
    /* text-decoration-line: underline; mesma coisa do de cima*/
}

.text-transform h1:nth-of-type(1){
    background-color: #151515;
    text-indent: 20px;
    text-transform: uppercase;
    font-size: 30px;
}
.text-transform p:nth-of-type(1){
    background-color: #ffc107;
    
    text-transform: lowercase;
    font-size: 30px;
}
.text-transform h1:nth-of-type(2){
    background-color: #151515;
    text-transform: capitalize;
    font-size: 30px;
    text-shadow: 0px 5px 2px #2bc42b;
}
.text-transform p:nth-of-type(2){
    border: 1px solid #151515;
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;/*propriedades: clip, ellipsis*/
}
.text-transform h1:nth-of-type(3){
    background-color: #ffb20c;
    letter-spacing: 10px;
}
.text-transform p:nth-of-type(3){
    background-color: #151515;
    line-height: 0.8;
}
.text-transform p:nth-of-type(4){
    background-color: #ffb20c;
    word-spacing: 10px;
}
.text-transform p:nth-of-type(5){
    background-color: #030303;
    white-space: nowrap;
}